<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url('<%= image_path "bannerdia.jpg" %>');">
    <%= render 'shared/navbar' %>
    <div class="container banner-logo">
    <div class="row" style="width:100vw;">
      <div class="col-5"></div>
      <div class="col-2">
        <%= image_tag "sirenalogobranco.png", style:"height: auto; width:100%;"%>
      </div>
      <div class="col-5"></div>
    </div>
    </div>
</div>

<div class="container">
  <div class="d-flex align-itens-center justify-content-center my-3" id="quemsomos">
    <h1>Quem somos</h1>
  </div>
    <p>O Sirena Búzios é um Gastrobar na beira da praia de Manguinhos, em frente ao pôr do sol mais lindo da cidade! Totalmente inspirados na natureza que nos cerca, nossa proposta é oferecer excelente música e gastronomia em um ambiente informal, onde amigos e famílias podem desfrutar de uma experiência incrível e com o pé na areia.</p>
</div>

<div class="container">
  <div class="d-flex align-itens-center justify-content-center my-3" id="sunset">
    <h1> Sunset</h1>
  </div>
  <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/eiYlhE-CQxg" title="Sirena Buzios Sunset" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 form-style">
      <!-- Insert form here -->
      <%= simple_form_for @client  do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :phone_number %>
        <%= f.submit "Enviar contato", class: "btn btn-primary" %>
      <% end %>
      <hr>
      <h2>PARA RESERVAS</h2>
    </div>
  </div>
</div>
