<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url('<%= image_path "bannerdia.jpg" %>');">
  <%= render 'shared/navbar' %>
  <div class="container banner-logo mt-5 pt-5">
    <div class="row my-5"></div>
    <div class="row" style="width:100vw;">
      <div class="col-1 col-sm-3 col-lg"></div>
      <div class="col-10 col-sm-6 col-lg-3">
        <%= image_tag "sirenalogobranco.png", style:"height: auto; width:100%;", id:"logobranca"%>
      </div>
      <div class="col-1 col-sm-3 col-lg"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="banner-dj my-5" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "palmeirasbanner.jpg" %>');">
      <div class="col-0 col-lg-0"></div>
      <div class="col-12 col-lg-12 my-4">
        <h1 class="cardapio"><strong>QUEM SOMOS</strong></h1>
        <p style="font-size: 18px; text-align:center">O Sirena Búzios é um Gastrobar na beira da praia de Manguinhos, em frente ao pôr do sol mais lindo da cidade! Totalmente inspirados na natureza que nos cerca, nossa proposta é oferecer excelente música e gastronomia em um ambiente informal, onde amigos e famílias podem desfrutar de uma experiência incrível e com o pé na areia.</p>
      </div>
      <div class="col-0 col-lg-0"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "drink3.jpg" %>');">
      </div>
    </div>
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "vista1.jpg" %>');">
      </div>
    </div>
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "drink2.jpg" %>');">
      </div>
   </div>
  </div>
</div>

<div class="container">
  <div class="banner-dj my-5" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "palmeirasbanner.jpg" %>');">
    <div class="row">
      <div class="col-0 col-lg-0"></div>
      <div class="col-12 col-lg-12 my-4">
        <h1 class="cardapio"><strong>SUNSET</strong></h1>
        <p style="font-size: 20px; text-align:center">Todos os dias a partir das 16h nossos Djs agitam o pôr-do-sol mais lindo de Búzios na areia do Sirena, deixando nossa atmosfera ainda mais agradável e especial.</p>
        <h1 class="lineup mt-5" style="font-size: 30px; text-align:center;"><strong>LINE UP</strong></h1>
        <h1 style="font-size: 20px; text-align:center; margin-right:10px;">Djs residentes Robert Pantoja e Warley Santos</h1>
      </div>
      <div class="col-0 col-lg-0"></div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "drink1.jpg" %>');">
      </div>
    </div>
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "djsirena.png" %>');">
      </div>
    </div>
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "drink6.jpg" %>');">
      </div>
   </div>
  </div>
</div>

<div class="container mt-5">
  <div class="video-wrapper">
    <iframe src="https://www.youtube.com/embed/eiYlhE-CQxg" title="Sirena Buzios Sunset" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container mt-5">
  <div class="banner-dj my-5" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "palmeirasbanner.jpg" %>');">
    <div class="row mb-2">
      <div class="col-lg-3"></div>
      <div class="col-12 col-lg-5" style="align-items: center; justify-content: center; display: flex;">
         <h1 class="cardapio"><strong>CELEBRE SEU EVENTO NO</strong></h1>
      </div>
      <div class="col-12 col-lg-1" style="align-items: center; justify-content: center; display: flex;">
        <%= image_tag "sirenalogoazul.png", style:"height: 120px; width:120px; margin-left: 10px; margin-bottom:5px"%>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="banner-eventos" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url('<%= image_path "estruturasirena.jpg" %>');">
    <div class="container banner-logo">
      <div class="row mt-2"></div>
      <div class="row" style="height: auto; width:100%;">
        <div class="col-2 col-sm col-lg"></div>
        <div class="col-9 col-sm-5 col-lg-3" style="z-index:2;">
          <%= image_tag "cardestrutura.png", style:"height: auto; width:100%;  border-radius: 4px; box-shadow: 0 0 5px black; "%>
        </div>
        <div class="col-1 col-sm col-lg"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-lg-6">
      <div class="banner-eventos mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url('<%= image_path "estruturasirena1.png" %>');">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-6">
      <div class="banner-eventos mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url('<%= image_path "evento3.jpg" %>');">
        <div class="container banner-logo">
          <div class="row my-5"></div>
          <div class="row" style="height: auto; width:100%;">
            <div class="col-2 col-sm col-lg"></div>
            <div class="col-9 col-sm-5 col-lg-6">
              <%= image_tag "cardestrutura1.png", style:"height: auto; width:100%;  border-radius: 4px; box-shadow: 0 0 5px black; "%>
            </div>
            <div class="col-1 col-sm col-lg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "evento4.png" %>');">
      </div>
    </div>
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "evento2.jpg" %>');">
      </div>
    </div>
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "evento1.jpg" %>');">
      </div>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="banner-dj my-5" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "palmeirasbanner.jpg" %>');">
      <div class="col-0 col-lg-0"></div>
      <div class="col-12 col-lg-12 mt-4">
        <a href="https://sirena-buzios-gastrobar.adsagencia.com/" class="cardapio"><strong>NOSSOS CARDÁPIOS</strong></a>
        <h1 style="font-size: 23px; text-align:center; color: #315572;">Os melhores pratos e drinks à beira-mar de Búzios</h1>
      </div>
      <div class="col-0 col-lg-0"></div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "prato3.jpg" %>');">
      </div>
    </div>
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "prato2.jpg" %>');">
      </div>
    </div>
    <div class="col-12 mt-3 col-lg-4">
      <div class="card-category" style="background-image: url('<%= image_path "prato1.jpg" %>');">
      </div>
    </div>
  </div>
</div>

<div class="banner-sunset" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url('<%= image_path "bannersunset.jpg" %>');">
  <div class="container banner-logo mt-5 pt-5">
    <div class="row my-5"></div>
    <div class="row" style="width:100vw;">
      <div class="col-1 col-sm-3 col-lg"></div>
      <div class="col-10 col-sm-6 col-lg-3">
        <%= image_tag "sirenalogobranco.png", style:"height: auto; width:100%;", id:"logobranca"%>
      </div>
      <div class="col-1 col-sm-3 col-lg"></div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-12 col-lg-7 mt-3 me-5">
      <div id='map' style='width: 100%; height: 400px; border-radius: 4px; box-shadow: 0 0 5px black;' class= "mt-3"></div>
    </div>
    <div class="col-12 col-lg-4 form-style mt-4">
      <!-- Insert form here -->
      <%= simple_form_for @client  do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :phone_number %>
        <%= f.submit "ENVIAR", class: "btn btn-primary" %>
      <% end %>
      <hr>
      <h2>PARA RESERVAS</h2>
    </div>
  </div>
</div>



<style>
#marker {
background-image: url('<%= image_path 'marker.png' %>');
background-size: cover;
width: 40px;
height: 55px;
border-radius: 50%;
cursor: pointer;
}

.mapboxgl-popup {
max-width: 200px;
}
</style>

<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoibmlja3NmYXJpYXMiLCJhIjoiY2wzNHN3NWdqMDAxNTNjcWI4cjVmOXNlbSJ9.-kHJJZfflrU2tAKpm7L75w';
const monument = [-41.91201198021214, -22.769525662110265];
const map = new mapboxgl.Map({
container: 'map',
style:'mapbox://styles/mapbox/streets-v11',
center: monument,
zoom: 15
});

// create the popup
const popup = new mapboxgl.Popup({ offset: 25 }).setText(
'Sirena Buzios - Associação dos Pescadores - Av. José Bento Ribeiro Dantas, 85'
);

// create DOM element for the marker
const el = document.createElement('div');
el.id = 'marker';



// create the marker
const marker = new mapboxgl.Marker(el)
.setLngLat(monument)
.setPopup(popup) // sets a popup on this marker
.addTo(map);

const markerDiv = marker.getElement();
markerDiv.addEventListener('mouseenter', () => marker.togglePopup());
markerDiv.addEventListener('mouseleave', () => marker.togglePopup());
</script>
