<div class="container mt-3 pt-5">
  <div class="row">
    <div class="col-1 col-sm col-lg"></div>
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag "sirenalogoazul.png", style:"height: auto; width:100%;", id:"logobranca"%>
    </div>
    <div class="col-1 col-sm col-lg"></div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 mt-3 col-lg-6">
      <%= link_to (image_tag 'sirenacardapio1.jpg', style:"height: auto; width:100%; box-shadow: 0 0 5px black;"), "/sirenacardapiopratos.pdf", target:"_blank"%>
    </div>
    <div class="col-12 mt-3 col-lg-6">
        <%= link_to (image_tag 'sirenacardapio2.jpg', style:"height: auto; width:100%; box-shadow: 0 0 5px black;"), "/sirenacardapiobebidas.pdf", target:"_blank"%>
      </a>
    </div>
    <div class="col-12 mt-3 col-lg-6">
      <a href="https://api.whatsapp.com/send?1=pt_BR&phone=552233016288" target="_blank">
        <%= image_tag "sirenafaleconosco.jpg", style:"height: auto; width:100%; box-shadow: 0 0 5px black;"%>
      </a>
   </div>
   <div class="col-12 mt-3 col-lg-6">
      <a href="https://cutt.ly/gKDI3OH" target="_blank">
        <%= image_tag "sirenawaze.jpg", style:"height: auto; width:100%; box-shadow: 0 0 5px black;"%>
      </a>
   </div>
  </div>
</div>
